@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;

}



body {

    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0px;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;

}

.aside .nav-links ul{
padding: 0px;
}
::before,
::after {
    box-sizing: border-box;
}

.home {
    background-color: var(--bg-black-900);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 270px;
    top: 0px;
    right: 0px;
    opacity: 1;
    justify-content: center;


}

.aside {
    padding: 30px;
    width: 270px;
    background-color: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  

}

.aside .logo {
    position: absolute;
    top: 50px;
    text-transform: capitalize;
    font-size: 30px;
   
}  



.aside .logo a {
    text-decoration: none;
    color: var(--text-black-900);
    font-weight: 700; 

    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    
}

.aside .logo a::before{
    content: '';
    
    position: absolute; 
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left:5px solid var(--skin-color);
    bottom: 0;
    left: 0;  
}


.aside .logo a::after{
    content: '';
    position: absolute; 
    width: 20px;
    height: 20px;
    border-right: 5px solid var(--skin-color);
    border-top:5px solid var(--skin-color) ;
    right: 0;
    top: 0;  
}

.aside .logo span {
    font-family: 'Clicker Script', cursive;
    font-size: 50px;
 
}

.aside ul .active {
    color: var(--skin-color);
}

.aside li {

    border-bottom: 1px solid rgb(215, 212, 212);
    margin: 20px;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 0.3rem;
    width: 120px;
    


}

.aside ul a {


   text-decoration: none;
   color: var(--text-black-700);
    font-weight: 600;
}

.aside ul i {
    padding-right: 20px;
}

.home .row #intro {
    height: 60vh;
    margin-top: 3rem;
    
}

.home .row #title {
    text-decoration: none;
    color: var(--text-black-900);
    font-weight: 700; 
    font-size: 40px;
    letter-spacing: 1px;
    
} 

.home .row #profession {
    text-decoration: none;
    color: var(--text-black-900);
    font-weight: 700; 
    font-size: 30px;
    letter-spacing: 1px;

}

.home .row span{
    color: var(--skin-color);
    
}

.home .row #name{
    color: var(--skin-color);
    font-family: 'Clicker Script', cursive;
}


.home .row p{
    width: 95%;
    font-size: 1.2em;
    color: var(--text-black-700);
    
}


.home .btn  {
    border:none;
    background-color: var(--skin-color);
    font-size: 1.2rem;
    text-decoration: none;
    
}

.home .btn a{
    text-decoration: none;
}


.home .btn:hover{
    background-color: var(--bg-black-900);
    border: 1px solid var(--skin-color);
    color: var(--text-black-900);   
}

.home .row img {
    border-radius: 10px;
    height: 70%;

    
    
    
}

.home .row #intro-img {
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;

}


.home .row #intro-img::before {
    content: '';
    
    position: absolute; 
    width: 100px;
    height: 100px;
    border-bottom: 10px solid var(--skin-color);
    border-right:10px solid var(--skin-color);
    bottom: 0;
    right: 0;  
}


.home .row #intro-img::after {
    content: '';
    
    position: absolute; 
    width: 100px;
    height: 100px;
    border-top: 10px solid var(--skin-color);
    border-left:10px solid var(--skin-color);
    top: 0;
    left: 0;  
}